<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/static/css/about.css">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid first">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row py-1">
                        <div class="col-md-2">
                            Have any Questions?
                        </div>
                        <div class="col-md-4">
                            <i class="bi bi-telephone-fill"></i>+91-9904-365650     +91-92652-83173
                        </div>
                        <div class="col">
                            <i class="bi bi-envelope"></i> tcit.ahmedabad@gmail.com
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid shadow">
        <div class="container">
            <div class="row p-3">
                <div class="col-md-8">
                   <a href="/" class="home"><h1>TC<span style="color:aqua">IT</span></h1></a>
                </div>
                <div class="col-md-1 pt-3">
                   <a href="/"class="active second "> Home</a>
                </div>
                <div class="col-md-1 pt-3">
                   <a href="/about/" class="second">About Us</a> 
                </div>
                <div class="col-md-1 pt-3">
                    <a href="/courses/" class="second">Courses</a>
                </div>
                <div class="col-md-1 pt-3">
                    <a href="/contact/" class="second">Contact</a>
                </div>
                
            </div>
        </div>
        
    </div>
    <div class="container-fluid">
        <div class="row third">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col py-2">
                            Home > About
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container pt-5">
        <div class="row">
            <div class="col">
                <div class="h1 text-center">Welcome To TCIT</div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                Talent Computer journey started in the year 2015. In this long time span, we have gained a tremendous experience in the field of programming and engineering. We are a team of qualified trainers with a vast experience in fields like Web Development, Web designing, Accounting Training etc. TCIT is specialized in computer-related training. The organization goes out of the way to groom the trainees into industry ready professional by enriching their knowledge in specific domains as well as with full module of soft skill training
            </div>
        </div>
        <div class="row py-5">
            <div class="col-md-4">
                <img src="https://talentcomputeracademy.in/images/our-story.jpg" width="100%">
                <div class="h5 py-3">Our Stories</div>
                <div>TCIT offers Administrative & Software Development courses based on today's hottest technologies, including PHP, Python, JAVA, .NET, Wordpress, Magento, Tally, D.T.P and many more Technologies related..</div>
            </div>
            <div class="col-md-4">
                <img src="https://talentcomputeracademy.in/images/mission.jpg" width="100%">
                <div class="h5 py-3">Our Mission</div>
                <div>To nurture talent in vibrant minds and to provide conducive environment for faculty and students and turn them in to dynamic & result oriented professionals of global stature.</div>
            </div>
            <div class="col-md-4">
                <img src="https://talentcomputeracademy.in/images/vision.jpg" width="100%">
                <div class="h5 py-3">Our Vision</div>
                <div>To be widely recognized as one of the best and most innovative center of relevant and high quality Information Technology and Business programs.
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="bghome">
         <div class="container">
             <div class="row m-5 p-5">
                 <div class="col">
                     <h1 class="text-center">Why Choosen Us</h1>
                 </div>
             </div>
             <div class="row pb-5">
                 <div class="col-md-6">
                     <ul>
                         <li class="p-2 my-3 shadow">> ISO 9001-2015 Certified Institute.</li>
                         <li class="p-2 my-3 shadow">> You’re learning from the best.</li>
                         <li class="p-2 my-3 shadow">> Affordable Price</li> 
                         <li class="p-2 my-3 shadow">> Access to high-speed Wi-Fi.</li>
                         <li class="p-2 my-3 shadow">> Practical Learning Environment.</li>
                         <li class="p-2 my-3 shadow">> Post Training Support</li>
                         <li class="p-2 my-3 shadow">> Experience Faculty</li>
                     </ul>
                 </div>
                 <div class="col-md-6 pt-5">
                     <img src="https://talentcomputeracademy.in/images/tcit_2.jpg"width="100%" height="90%" class="imgradius">
                 </div>
             </div>
         </div>
         </div>
    </div>
    <footer class="my-0">
        <div class="container">
            <div class="row py-5">
                <div class="col-md-4">
                    <div class="h1 tc">TC<span class="it">IT</span></div>
                    <div class="py-4">Talent Computer provides training in different language like C, C++, Python, Php, React, Angular, Web design, DBMS & other Technologies. Talent Computer Training institute offers students an innovative way to learn Technology.</div>
                    <div><i class="bi bi-facebook round p-3 me-3"></i><i class="bi bi-instagram round p-3"></i></div>
                </div>
                <div class="col-md-4">
                    <div class="h5 pt-4">Contact Us</div>
                    <div class="grey py-3">Email: tcit.ahmedabad@gmail.com</div>
                    <div class="grey">Phone: <span class="blue">+(91) 9904 365 650 , +(91) 9265 283 173</span></div>
                    <div class="grey py-3">Branch -1: Raj Ratan Complex, Rajendra Park Char Rasta,Nr. Kaka Bhaji Pav, Odhav, Ahmedabad - 382415</div>
                    <div class="grey">Branch -2: H/F 11 Sahaj Residency, Above Shreeji Batteries, Takshashila School Rd, Char Rasta, Vastral, Ahmedabad, Gujarat 382418</div>
                </div>
                <div class="col-md-4">
                    <div class="h5 pt-4">Pages</div>
                    <div class="container-fluid">
                        <div class="row py-3">
                            <div class="col">
                                <div class="pb-3 grey">Home</div>
                                <div class="grey">About</div>
                            </div>
                            <div class="col">
                                <div class="pb-3 grey">Contact</div>
                                <div class="grey">Courses</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col grey">
                    Copyright ©2025 All rights reserved <i class="bi bi-heart"></i> BenchMark Websoft Solutions
                </div>
            </div>
            
        </div>
   </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>