<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

    <title>Hello, world!</title>
    <link rel="stylesheet" href="/static/css/courses.css">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  </head>
  <body>
    <div class="container-fluid first">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row py-1">
                        <div class="col-md-2">
                            Have any Questions?
                        </div>
                        <div class="col-md-4">
                            <i class="bi bi-telephone-fill"></i>+91-9904-365650     +91-92652-83173
                        </div>
                        <div class="col">
                            <i class="bi bi-envelope"></i> tcit.ahmedabad@gmail.com
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid shadow">
        <div class="container">
            <div class="row p-3">
                <div class="col-md-8">
                   <a href="/" class="home"><h1>TC<span style="color:aqua">IT</span></h1></a>
                </div>
                <div class="col-md-1 pt-3">
                   <a href="/"class="active second "> Home</a>
                </div>
                <div class="col-md-1 pt-3">
                   <a href="/about/" class="second">About Us</a> 
                </div>
                <div class="col-md-1 pt-3">
                    <a href="/courses/" class="second">Courses</a>
                </div>
                <div class="col-md-1 pt-3">
                    <a href="/contact/" class="second">Contact</a>
                </div>
                
            </div>
        </div>
        
    </div>
    <div class="container-fluid">
        <div class="row third">
            <div class="col">
                <div class="container">
                    <div class="row">
                        <div class="col py-2">
                            Home > About
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row py-5">
            <div class="col">
                <h2 class="underline text-center">Courses</h2>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://talentcomputeracademy.in/images/php-mysql-red.jpeg"width="80%">
                <div class="info">
                    <h3>PHP + MYSQL + CMS</h3><br>
                    You will learn how to work with PHP objects, constants, includes, sessions,and other features. Also how to create MySQL databases and tables,  establish connection with your php files and many more...
                </div>
            </div>
            <div class="col">
                <img src="https://talentcomputeracademy.in/images/web-designing.jpg"width="80%">
                <div class="info">
                    <h3>Web Designing</h3><br>
                    Expert<br>
                    The term "web design" is normally used to describe the design <br>process relating to the front-end (client side) design of a website including writing markup.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://talentcomputeracademy.in/images/Java-logo-png.png"width="80%">
                <div class="info">
                    <h3>Java</h3><br>
                    Expert<br>
                    It is a Java programming platform. It includes Java programming APIs such as java.lang, java.io, java.net, java.util, java.sql, java.math etc. It includes core topics like OOPs, String, Exception, Inner classes, Multithreading, I/O Stream, Networking, AWT, Swing, etc.
                </div>
            </div>
            <div class="col">
                <img src="https://talentcomputeracademy.in/images/python.jpg"width="80%">
                <div class="info">
                    <h3>Python Programming</h3><br>
                    Expert<br>
                    Python is a general-purpose programming language. It is an interpreted high-level general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant indentation.
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://talentcomputeracademy.in/images/Graphic-Designing.jpg"width="80%">
                <div class="info">
                    <h3>Graphic Designing</h3><br>
                    Expert<br>
                    Graphic design has, as a field of application, different areas of knowledge focused on any visual communication system.
                </div>
            </div>
            <div class="col">
                <img src="https://talentcomputeracademy.in/images/c-c++.png"width="80%">
                <div class="info">
                    <h3>C and C++</h3><br>
                    Expert<br>
                    C, it is used when a low-level programming language is necessary. While C++ is used for graphics-heavy software as games, photo...
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://talentcomputeracademy.in/images/computer-basic.jpg"width="80%">
                <div class="info">
                    <h3>MS-Office</h3><br>
                    Expert<br>
                    Graphic design has, as a field of application, different areas of knowledge focused on any visual communication system.

                </div>
            </div>
            <div class="col">
                <img src="https://talentcomputeracademy.in/images/tally-training.jpg"width="80%">
                <div class="info">
                    <h3>Tally ERP</h3><br>
                    Expert<br>
                    Tally is basically a computer software which is widely used for accounting purposes by small and large scale Industries...
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <img src="https://talentcomputeracademy.in/images/dtp.png"width="80%">
                <div class="info">
                    <h3>DTP</h3><br>
                    Expert<br>
                    Desktop publishing (DTP) is the creation of documents using page layout software on a personal ("desktop") computer. ...
                </div>
            </div>
            <div class="col">
                <img src="https://talentcomputeracademy.in/images/ccc.jpg"width="80%">
                <div class="info">
                    <h3>CCC (Course Computer Concept)</h3><br>
                    Expert<br>
                    CCC Course Full Form is Course on Computer Concepts, which is a certification program that offers a chance to the average person to acquire information about information technology. It is an innovative course    
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5 news">
        <div class="row ">
            <div class="col">
                <img src="https://talentcomputeracademy.in/images/newsletter.jpg" width="100%" >
            </div>
        </div>
   </div>
   <footer class="my-0">
    <div class="container">
        <div class="row py-5">
            <div class="col-md-4">
                <div class="h1 tc">TC<span class="it">IT</span></div>
                <div class="py-4">Talent Computer provides training in different language like C, C++, Python, Php, React, Angular, Web design, DBMS & other Technologies. Talent Computer Training institute offers students an innovative way to learn Technology.</div>
                <div><i class="bi bi-facebook round p-3 me-3"></i><i class="bi bi-instagram round p-3"></i></div>
            </div>
            <div class="col-md-4">
                <div class="h5 pt-4">Contact Us</div>
                <div class="grey py-3">Email: tcit.ahmedabad@gmail.com</div>
                <div class="grey">Phone: <span class="blue">+(91) 9904 365 650 , +(91) 9265 283 173</span></div>
                <div class="grey py-3">Branch -1: Raj Ratan Complex, Rajendra Park Char Rasta,Nr. Kaka Bhaji Pav, Odhav, Ahmedabad - 382415</div>
                <div class="grey">Branch -2: H/F 11 Sahaj Residency, Above Shreeji Batteries, Takshashila School Rd, Char Rasta, Vastral, Ahmedabad, Gujarat 382418</div>
            </div>
            <div class="col-md-4">
                <div class="h5 pt-4">Pages</div>
                <div class="container-fluid">
                    <div class="row py-3">
                        <div class="col">
                            <div class="pb-3 grey">Home</div>
                            <div class="grey">About</div>
                        </div>
                        <div class="col">
                            <div class="pb-3 grey">Contact</div>
                            <div class="grey">Courses</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col grey">
                Copyright ©2025 All rights reserved <i class="bi bi-heart"></i> BenchMark Websoft Solutions
            </div>
        </div>
        
    </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

   
  </body>
</html>