<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
    <!-- Option 1: Include in HTML -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">

    <title>Hello, world!</title>
  </head>
  <body>
    <div class="container-fluid first">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="row py-1">
                        <div class="col-md-2">
                            Have any Questions?
                        </div>
                        <div class="col-md-4">
                            <i class="bi bi-telephone-fill"></i>+91-9904-365650     +91-92652-83173
                        </div>
                        <div class="col">
                            <i class="bi bi-envelope"></i> tcit.ahmedabad@gmail.com
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>
    
      <div class="container-fluid shadow">
        <div class="container">
            <div class="row p-3">
                <div class="col-md-8">
                   <a href="/"class="home"><h1>TC<span style="color:aqua">IT</span></h1></a>
                </div>
                <div class="col-md-1 pt-3">
                    <a href="/" class="second">Home</a>
                </div>
                <div class="col-md-1 pt-3">
                   <a href="about/" class="second">About Us</a> 
                </div>
                <div class="col-md-1 pt-3">
                    <a href="courses/" class="second">Courses</a>
                </div>
                <div class="col-md-1 pt-3">
                    <a href="contact" class="second">Contact</a>
                </div>
                
            </div>
        </div>
    </div>
    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://talentcomputeracademy.in/images/quality-website-design.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://talentcomputeracademy.in/images/webdevelopment.webp" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://talentcomputeracademy.in/images/tcit_2.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <!-- <img src="{% static 'images/cricket.jpg' %}" alt=""> -->
      <div class="container">
        <div class="row pt-5 pb-3">
            <div class="col">
                <h1 class="text-center">Welcome To TCIT Learning</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <div class="text-center">Talent Computer Institute of Technology is a fast growing Information Technology company that has spread its wings in the areas of Software Development, Corporate Training & Staffing to cater to the needs of varied set of clients. The company is managed by a group of professionals who have wide expertise in various areas of business.</div>
            </div>
            <div class="col-md-2"></div>
        </div>
      </div>
    <div class="container">
        <div class="row">
            <div class="col-md-3  box p-5 my-3 text-center ">
                <img src="https://talentcomputeracademy.in/images/icon_1.png">
                <div class="h5 py-3">The Experts</div>
            </div>
            <div class="col-md-3 box p-5 my-3 text-center">
                <img src="https://talentcomputeracademy.in/images/icon_2.png">
                <div class="h5 py-3">Best Value for Money</div>
            </div>
            <div class="col-md-3 box p-5 my-3 text-center">
                <img src="https://talentcomputeracademy.in/images/icon_3.png">
                <div class="h5 py-3">Best Courses</div>
            </div>
            <div class="col-md-3 box p-5 my-3 text-center">
                <img src="https://talentcomputeracademy.in/images/icon_4.png">
                <div class="h5 py-3">Award & Reward</div>
            </div>
        </div>
    </div>
    <div class="container-fluid">
        <div class="bg">
            <div class="container">
            <div class="row">
                <div class="col p-5">
                   <h1 class="text-center">Popular Courses</h1> 
                </div>
            </div>
            <div class="row my-3">
                <div class="col boxes mx-4 shadow">
                    <img src="https://talentcomputeracademy.in/images/computer-basic.jpg" width="100%">
                    <div class="info">
                        <div class="py-2 h5">Computer Basic</div>
                        <div>Expert</div>
                        <div class="py-3">Computer Basic - If you're new to computers or just want to update your skills, you've come to the right place.</div>
                    </div>
                    
                </div>
                <div class="col boxes mx-4 shadow">
                    <img src="https://talentcomputeracademy.in/images/ccc.jpg"width="100%" class="imgbox">
                    <div class="info">
                        <div class="py-2 h5">CCC (Course Computer Concept)</div>
                        <div>Expert</div>
                        <div class="py-3">CCC Course (Course on Computer Concepts) As full form suggest it's one type of Computer basic course with Gujarati, Hindi typing.</div>
                    </div>
                </div>
                <div class="col boxes mx-4 shadow">
                    <img src="https://talentcomputeracademy.in/images/tally-course-TCIT.jpg"width="100%">
                    <div class="info">
                        <div class="py-2 h5">Tally</div>
                        <div>Expert</div>
                        <div class="py-3">Tally is basically a computer software which is widely used for accounting purposes by small and large scale It is an accounting software...</div>
                    </div>
                </div>
            </div>
            <div class="row my-5">
                <div class="col boxes mx-4 shadow">
                    <img src="https://talentcomputeracademy.in/images/c-c++.png" width="100%">
                    <div class="info">
                        <div class="py-2 h5">C and C++</div>
                        <div>Expert</div>
                        <div class="py-3">C, it is used when a low-level programming language is necessary. While C++ is used for graphics-heavy software such as games,photo...</div>
                    </div>
                    
                </div>
                <div class="col boxes mx-4 shadow">
                    <img src="https://talentcomputeracademy.in/images/web-designing.jpg"width="100%" class="imgbox">
                    <div class="info">
                        <div class="py-2 h5">Web Design</div>
                        <div>Expert</div>
                        <div class="py-3">The term "web design" is normally used to describe the design process relating to the front-end (client side) design of a website including writing markup.</div>
                    </div>
                </div>
                <div class="col boxes mx-4 shadow">
                    <img src="https://talentcomputeracademy.in/images/php-mysql-red.jpeg"width="100%">
                    <div class="info">
                        <div class="py-2 h5">PHP + MYSQL + CMS</div>
                        <div>Expert</div>
                        <div class="py-3">With PHP, you can connect to and manipulate databases. MySQL is the most popular database system used with PHP.</div>
                    </div>
                </div>
            </div>
           <div class="row">
            <div class="col-md-5"></div>
            <div class="col-md-4">
                <a href="courses.html"><button class="btn btn-info" style="margin-bottom: 20px;">VIEW ALL COURSES</button></a>
            </div>
            <div class="col-md-3"></div>
            </div>
        </div>
        </div>
       
    </div>
   <div class="container-fluid mt-5 news">
        <div class="row ">
            <div class="col">
                <img src="https://talentcomputeracademy.in/images/newsletter.jpg" width="100%" >
            </div>
        </div>
   </div>
   <footer class="my-0">
        <div class="container">
            <div class="row py-5">
                <div class="col-md-4">
                    <div class="h1 tc">TC<span class="it">IT</span></div>
                    <div class="py-4">Talent Computer provides training in different language like C, C++, Python, Php, React, Angular, Web design, DBMS & other Technologies. Talent Computer Training institute offers students an innovative way to learn Technology.</div>
                    <div><i class="bi bi-facebook round p-3 me-3"></i><i class="bi bi-instagram round p-3"></i></div>
                </div>
                <div class="col-md-4">
                    <div class="h5 pt-4">Contact Us</div>
                    <div class="grey py-3">Email: tcit.ahmedabad@gmail.com</div>
                    <div class="grey">Phone: <span class="blue">+(91) 9904 365 650 , +(91) 9265 283 173</span></div>
                    <div class="grey py-3">Branch -1: Raj Ratan Complex, Rajendra Park Char Rasta,Nr. Kaka Bhaji Pav, Odhav, Ahmedabad - 382415</div>
                    <div class="grey">Branch -2: H/F 11 Sahaj Residency, Above Shreeji Batteries, Takshashila School Rd, Char Rasta, Vastral, Ahmedabad, Gujarat 382418</div>
                </div>
                <div class="col-md-4">
                    <div class="h5 pt-4">Pages</div>
                    <div class="container-fluid">
                        <div class="row py-3">
                            <div class="col">
                                <div class="pb-3 grey">Home</div>
                                <div class="grey">About</div>
                            </div>
                            <div class="col">
                                <div class="pb-3 grey">Contact</div>
                                <div class="grey">Courses</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col grey">
                    Copyright ©2025 All rights reserved <i class="bi bi-heart"></i> BenchMark Websoft Solutions
                </div>
            </div>
            
        </div>
   </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>

    
  </body>
</html>